:root {
  font-size: 14px;
  font-weight: 400;

  color: #000;
  background-color: #fff;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  margin: 0 auto;
  display: flex;
  
}
